@import "fonts.css";
/* mixins */
/* /mixins */
body {
  font: 300 14px MuseoSansCyrl, sans-serif;
  color: #36464e;
}
h1 {
  font: 54px/44px EngraversGothicBT, sans-serif;
}
h2 {
  position: relative;
  font: 36px/44px EngraversGothicBT, sans-serif;
  text-align: center;
}
h2:after {
  content: '';
  display: inline-block;
  width: 12%;
  height: 2px;
  position: absolute;
  right: 0;
  bottom: -21px;
  left: 0;
  margin: 0 auto;
  background-color: #36464e;
}
h3 {
  position: relative;
  font-weight: 900;
  font-size: 27px;
}
form.form-quick {
  margin-top: 53px;
}
form.form-quick input,
form.form-quick textarea {
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
form.form-quick input:focus,
form.form-quick textarea:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  outline: none;
}
form.form-quick input {
  height: 44px;
}
form.form-quick .btn-primary {
  margin-top: 13px;
}
form.form-quick p {
  font-size: 10px;
  margin: 13px 0 0;
  line-height: 12px;
}
.btn-primary {
  display: inline-block;
  background: #3e8797;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: none;
  text-transform: uppercase;
  padding: 12px 45px;
}
.btn-primary:hover {
  text-decoration: none;
  background: #3e8797;
}
a.btn-second {
  display: inline-block;
  border: 2px solid #36464e;
}
a.btn-second:after {
  background: #36464e;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-60deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-60deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-60deg);
  transform: translateX(-50%) translateY(-50%) rotate(-60deg);
}
a.btn-second:link {
  position: relative;
  padding: 14px 15px;
  color: #36464e;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 0;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}
a.btn-second:link:after {
  content: "";
  position: absolute;
  width: 150%;
  height: 0;
  top: 50%;
  left: 50%;
  z-index: -1;
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
}
a.btn-second:link:hover {
  color: #fff;
  text-shadow: none;
}
a.btn-second:link:hover:after {
  height: 650%;
}
a.btn-second:visited {
  position: relative;
  padding: 14px 15px;
  color: #36464e;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 0;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}
a.btn-second:visited:after {
  content: "";
  position: absolute;
  width: 150%;
  height: 0;
  top: 50%;
  left: 50%;
  z-index: -1;
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
}
a.btn-second:visited:hover {
  color: #fff;
  text-shadow: none;
}
a.btn-second:visited:hover:after {
  height: 650%;
}
.container-fluid {
  max-width: 1400px;
}
table tr:first-child td {
  padding-top: 0;
}
table tr td {
  border-bottom: 1px solid #e6e6e6;
  padding: 12px 0 17px 0;
}
table tr td:first-child {
  padding-right: 48px;
}
table tr td:last-child {
  padding-right: 20px;
}
.slick-next {
  background: url("../img/icons/arrow-right.svg") no-repeat center;
  top: 22%;
  right: 47px;
  height: 31px;
  z-index: 2;
  color: transparent;
  border: none;
  position: absolute;
}
.slick-next:focus {
  outline: none;
}
.slick-prev {
  background: url("../img/icons/arrow-left.svg") no-repeat center;
  top: 22%;
  left: 23px;
  height: 31px;
  z-index: 2;
  color: transparent;
  border: none;
  position: absolute;
}
.slick-prev:focus {
  outline: none;
}
.form-quick-wrapper {
  background: #eeeae8;
  padding: 25px 33px;
  position: relative;
}
.form-quick-wrapper h3 {
  position: relative;
  font-weight: 900;
  font-size: 27px;
}
.form-quick-wrapper h3:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 48%;
  height: 2px;
  bottom: -20px;
  left: 1px;
  background-color: #36464e;
}
.form-quick-wrapper .diagonal {
  position: absolute;
  top: -34px;
  right: 22px;
  width: 67px;
  height: 130px;
  background-color: #ca4e45;
  transform: skewX(-30deg);
}
.header {
  width: 100%;
  padding: 53px 0 0;
  text-align: center;
}
.header.grey {
  background: #eeeae8;
}
.header.grey .logo-inner {
  background-color: #eeeae8 !important;
}
.header .logo {
  position: relative;
}
.header .logo:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 0;
  left: 0;
  width: 90%;
  height: 1px;
  background-color: #445963;
  z-index: 1;
  margin: 0 auto;
}
.header .logo .logo-inner {
  background-color: #fff;
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 0 25px;
}
.header .logo .logo-inner img {
  width: 144px;
  pointer-events: none;
}
.header .main-nav {
  display: inline-block;
  margin-top: 42px;
}
.header .main-nav li {
  float: left;
  margin: 0 12px;
}
.header .main-nav li a {
  font-size: 14px;
  font-weight: 300;
  color: #36464e;
}
.header .main-nav li a.active:after {
  width: 100%;
}
.header .main-nav li a:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: #ff6600;
  transform: translateX(-50%);
  -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.header .main-nav li a:hover,
.header .main-nav li a:focus {
  background-color: transparent;
}
.header .main-nav li a:hover:after,
.header .main-nav li a:focus:after {
  width: 100%;
}
.main-product {
  position: relative;
  background: #eeeae8;
  height: 480px;
  margin-bottom: 116px;
}
.main-product.product2 .mp-img {
  width: 1200px;
  top: 0;
  left: 0;
}
.main-product.product2 .mp-features.first {
  top: 180px;
  right: 18%;
  left: initial;
}
.main-product.product2 .mp-features.first p {
  margin-left: 0;
}
.main-product.product2 .mp-features.second {
  top: 105px;
  right: initial;
  left: 3%;
}
.main-product.product2 .mp-features.second p {
  margin-left: 0;
}
.main-product .mp-img {
  position: absolute;
  top: -34px;
  right: 0;
  left: 0;
  margin: 0 auto;
  pointer-events: none;
}
.main-product .mp-features {
  position: absolute;
}
.main-product .mp-features.first {
  top: 234px;
  left: 5%;
}
.main-product .mp-features.first img {
  width: 286px;
  display: block;
  margin-top: -80px;
  pointer-events: none;
}
.main-product .mp-features.second {
  top: 52px;
  right: 1%;
  line-height: 29px;
}
.main-product .mp-features.second img {
  width: 279px;
  display: block;
  margin: -4px -21px 0 0;
  pointer-events: none;
}
.main-product .mp-features.second p {
  font-size: 22px;
  font-weight: 900;
  margin-left: 69px;
}
.main-product .mp-features p {
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
}
.main-product .mp-features p span.count {
  font-size: 89px;
  font-weight: 900;
}
.main-product .mp-features span.icon-t {
  font-size: 54px;
}
.product-info h1 {
  margin: 33px 0 66px 0;
}
.product-info h2 {
  margin: 32px 0 72px 0;
}
.product-info p {
  margin: 0 0 28px;
  line-height: 22px;
}
.product-info table {
  margin: 46px 0 37px 0;
}
.product-info a {
  text-transform: uppercase;
  text-decoration: underline;
  color: #36464e;
  vertical-align: 16px;
}
.product-info .icon-blank {
  color: #ff6600;
  font-size: 44px;
  margin: 0 17px 0 -7px;
}
.gallery {
  position: relative;
  overflow: hidden;
  padding: 66px 0 20px;
}
.gallery .g-scroll {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 370px;
}
.gallery .g-scroll::-webkit-scrollbar {
  display: none;
}
.gallery .g-scroll img {
  display: inline-block;
  transition-duration: 1.4s;
  -webkit-transition-duration: 1.4s;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  animation: shake 0.3s forwards;
  -webkit-animation: shake 0.3s forwards;
  vertical-align: top;
  margin: 0 8px;
}
.gallery .g-scroll a:hover img {
  transition-duration: 1.4s;
  -webkit-transition-duration: 1.4s;
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  animation: shake 0.3s forwards;
  -webkit-animation: shake 0.3s forwards;
}
.gallery .gallery-row {
  display: inline-block;
  vertical-align: middle;
}
.gallery .gallery-row a {
  display: inline-block;
}
.gallery .gallery-row a:focus {
  outline: none;
}
.gallery .gallery-row a:last-child {
  display: block;
  margin-top: 20px;
}
.gallery .scrollLeft {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100px;
  height: 100%;
  opacity: 0;
}
.gallery .scrollRight {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 100px;
  height: 100%;
  opacity: 0;
}
.section-icons {
  padding: 33px 0 73px;
  background: #eeeae8;
}
.section-icons h2 {
  margin-bottom: 73px;
}
.section-icons .col-xs-4 {
  padding: 0 0 0 48px;
}
.section-icons .last-column {
  padding-left: 0;
  margin-left: -21px;
}
.section-icons .icons-block {
  margin-bottom: 17px;
  display: flex;
}
.section-icons .icons-block p {
  font-weight: 100;
  font-size: 18px;
  line-height: 24px;
  display: inline-block;
  margin: 0;
}
.section-icons .icons-block span {
  display: inline-block;
  color: #ff6600;
  font-size: 44px;
  float: left;
  margin-right: 6px;
}
.reviews {
  margin-top: 80px;
  overflow: hidden;
  position: relative;
  background: url(../img/square.svg) no-repeat 21% 19%;
  background-size: 14%;
}
.reviews.work-page {
  margin-top: 28px;
}
.reviews h2 {
  margin-bottom: 71px;
}
.reviews .item {
  text-align: center;
}
.reviews .item:focus {
  outline: none;
}
.reviews .item p {
  font-size: 18px;
  font-weight: 100;
  line-height: 27px;
}
.reviews .item img {
  display: inline-block;
  margin: 90px auto 10px;
}
.reviews .item span {
  display: block;
  line-height: 18px;
}
.map-form {
  position: relative;
  background: #eeeae8;
  margin-top: 152px;
}
.map-form ul {
  list-style-type: none;
  margin: 0 0 12px;
  padding: 0;
}
.map-form ul li {
  font-size: 20px;
  font-weight: 100;
}
.map-form.contacts-bottom h3 {
  margin-bottom: 60px!important;
}
.map-form.contacts-bottom .diagonal {
  right: 25%!important;
}
.map-form.contacts-bottom .map-form-info {
  vertical-align: -138px !important;
}
.map-form.worksheet .map-form-info {
  vertical-align: -105px;
  margin-left: 0;
  width: initial;
}
.map-form.worksheet .diagonal {
  right: 29%;
  bottom: 0;
}
.map-form .diagonal {
  width: 275px;
  height: 527px;
  background-color: #ca4e45;
  transform: skewX(-30deg);
  position: absolute;
  right: 38%;
  bottom: 0;
  z-index: 1;
}
.map-form .form-quick p {
  display: inline-block;
  float: right;
  margin-top: 23px;
}
.map-form .form-quick input,
.map-form .form-quick textarea {
  border: 1px solid #36464e;
}
.map-form .map-form-info {
  display: inline-block;
  position: relative;
  z-index: 2;
  padding-left: 22px;
  vertical-align: -168px;
  margin-left: -74px;
  width: 420px;
}
.map-form .map-form-info h3 {
  line-height: 32px;
  padding: 0;
  margin: 0;
}
.map-form .map-form-info h3:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 38%;
  height: 2px;
  bottom: -23px;
  left: 0;
  background: #36464e;
}
.map-form .map-form-info .btn-second {
  margin-top: 40px;
  padding: 12px 63px;
}
.footer {
  padding: 35px 0;
}
.footer p {
  padding: 0;
  margin: 0;
  line-height: 18px;
}
.footer .col-xs-7 {
  text-align: center;
}
.footer img {
  width: 34px;
  padding: 15px 0 0;
  display: inline-block;
  pointer-events: none;
  margin-left: -90px;
}
.footer a {
  text-decoration: underline;
  color: #36464e;
  font-size: 14px;
}
.catalog-preview {
  padding: 92px 0;
}
.catalog-preview h2 {
  margin-bottom: 93px;
}
.catalog-preview .preview-item {
  display: inline-block;
  width: 20%;
  text-align: center;
  float: left;
}
.catalog-preview .preview-item p {
  text-decoration: underline;
  color: #36464e;
  line-height: 18px;
}
.catalog-preview .preview-item .preview-img {
  height: 170px;
}
.catalog-preview .preview-item .preview-img img {
  width: 100%;
  pointer-events: none;
}
.catalog-preview .btn-primary {
  margin-top: 55px;
  padding: 12px 32px;
}
.differences {
  height: 510px;
  color: #fff;
  margin-top: 18px;
  position: relative;
}
.differences h2:after {
  background: #fff;
}
.differences h2 {
  position: absolute;
  top: 11%;
  z-index: 100;
  text-align: center;
  left: 0;
  right: 0;
}
.differences .d-info {
  position: absolute;
  bottom: 75px;
  text-align: center;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}
.differences .d-info img {
  width: 98px;
  margin-bottom: 21px;
  pointer-events: none;
}
.differences .d-info p {
  font-size: 18px;
  line-height: 19px;
}
.differences .d-info .strong {
  font-weight: 900;
  font-size: 27px;
  line-height: 33px;
  padding: 0;
  margin: 0;
}
.work {
  background: #eeeae8;
  padding: 66px 0 4px;
  overflow: hidden;
  position: relative;
}
.work h1 {
  margin-bottom: 71px;
}
.work p {
  margin-bottom: 28px;
  line-height: 22px;
}
.work h2 {
  text-transform: none;
  text-align: left;
  font: 300 35px/36px MuseoSansCyrl, sans-serif;
  letter-spacing: 0;
  margin: 76px 0 27px 0;
}
.work h2:after {
  display: none;
}
.work h3 {
  margin-bottom: 49px;
}
.work img {
  mix-blend-mode: darken;
  margin: -56px 0 -205px -10px;
  pointer-events: none;
}
.work .check-img {
  position: absolute;
  bottom: 31%;
  left: -4%;
  width: 365px;
  pointer-events: none;
}
.work .cross-img {
  position: absolute;
  right: -7%;
  bottom: 27%;
  width: 345px;
  pointer-events: none;
}
.work .col-xs-5 h3 {
  margin-left: 74px;
}
.work .col-xs-5 .getting {
  margin-left: 75px;
}
.work .getting .getting-item span {
  display: inline-block;
  font-size: 40px;
  margin-right: 8px;
  color: #36464e;
}
.work .getting .getting-item p {
  display: inline-block;
  font-size: 18px;
  font-weight: 100;
  vertical-align: top;
}
.contacts {
  padding: 66px 0;
  border-bottom: 1px solid #445963;
  overflow: hidden;
}
.contacts h1 {
  margin-bottom: 72px;
}
.contacts ul {
  list-style-type: none;
  margin: 0 0 24px;
  padding: 0;
}
.contacts ul li {
  line-height: 20px;
}
.contacts .requisites {
  color: #36464e;
  text-decoration: none;
  border-bottom: 1px dashed #36464e;
  margin-top: 68px;
  display: inline-block;
}
.contacts .requisites-body {
  margin-top: 10px;
  display: none;
}
.contacts .btn-second {
  margin-top: 90px;
  padding: 12px 60px!important;
}
.contacts .contacts-item {
  margin-bottom: 73px;
}
.contacts .contacts-item img {
  display: inline-block;
  margin-right: 20px;
  pointer-events: none;
  width: 120px;
}
.contacts .contacts-item .contact-info {
  display: inline-block;
  vertical-align: middle;
}
.contacts .contacts-item .contact-info p {
  font-size: 18px;
  font-weight: 900;
}
.contacts .contacts-item .contact-info ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.catalog {
  padding: 23px 0 0;
  border-bottom: 1px solid;
}
.catalog h1 {
  text-align: center;
  margin-bottom: 43px;
}
.catalog p {
  line-height: 22px;
}
.catalog .row {
  margin-bottom: 31px;
}
.catalog .row > div:first-child .catalog-item {
  margin-left: 25px;
}
.catalog .row > div:last-child {
  padding-right: 37px;
}
.catalog .catalog-item {
  background: #eeeae8;
  padding: 0 30px 0 32px;
  height: 695px;
  overflow: hidden;
  display: block;
  color: #4c4c4c;
}
.catalog .catalog-item:hover {
  text-decoration: none;
}
.catalog .catalog-item.horizontal {
  height: 535px;
}
.catalog .catalog-item.h690 {
  height: 690px;
}
.catalog .catalog-item.top span {
  margin-top: 50px;
}
.catalog .catalog-item img {
  margin: 0 0 32px -31px;
  pointer-events: none;
}
.catalog .catalog-item span {
  font: 36px/28px EngraversGothicBT, sans-serif;
  letter-spacing: 1px;
  color: #4c4c4c;
  text-decoration: none;
  background: transparent;
  margin: 0 0 34px;
  display: inline-block;
}
.history {
  position: relative;
  padding: 73px 15px 135px 0;
  overflow: hidden;
}
.history .history-line {
  position: relative;
  margin-top: -142px;
  padding-bottom: 5px;
}
.history .year {
  position: absolute;
  font: 21px EngraversGothicBT, sans-serif;
}
.history .info {
  position: absolute;
}
.history .info p strong {
  font-size: 21px;
  font-weight: 900;
}
.history .info p span {
  color: #ff6600;
  font-weight: 900;
}
.usage {
  padding: 59px 0;
  text-align: center;
}
.usage h2 {
  margin-bottom: 102px;
}
.usage p {
  line-height: 20px;
}
.usage .second .img-wrapper {
  margin: 0 14px;
}
.usage .slick-next {
  top: 45%;
  right: -76px;
}
.usage .slick-prev {
  top: 45%;
  left: -126px;
}
.usage .item:hover,
.usage .item:focus {
  outline: none;
}
.usage .img-wrapper {
  display: inline-block;
  align-items: center;
  margin: 0 25px;
}
.usage .img-wrapper div {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.usage .img-wrapper img {
  margin: 0 auto;
}
.approach {
  padding-top: 56px;
  overflow: hidden;
}
.approach h2 {
  margin-bottom: 87px;
}
.approach .img-norm {
  background: #ec5e18;
  background: -moz-linear-gradient(left, #ec5e18 51%, #e13408 51%);
  background: -webkit-linear-gradient(left, #ec5e18 51%, #e13408 51%);
  background: linear-gradient(to right, #ec5e18 51%, #e13408 51%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ec5e18', endColorstr='#e13408', GradientType=1);
  text-align: center;
}
.approach .img-norm img {
  pointer-events: none;
}
.team {
  padding: 56px 0 0;
  margin-bottom: -19px;
}
.team h2 {
  margin-bottom: 76px;
}
.team img {
  pointer-events: none;
  margin-bottom: 5px;
}
.team .col-xs-2 {
  padding-left: 40px;
}
.team p {
  padding: 0;
  margin: 0;
}
.team p strong {
  font-size: 18px;
  text-transform: uppercase;
}
.catalog-item {
  -webkit-transition: all 0.17s ease-in-out;
  -moz-transition: all 0.17s ease-in-out;
  -o-transition: all 0.17s ease-in-out;
  transition: all 0.17s ease-in-out;
}
.catalog-item:hover {
  box-shadow: 0px 43px 70px -42px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  cursor: pointer;
}
@media (min-width: 1400px) {
  .catalog .row > div:first-child .catalog-item {
    margin-left: 0;
  }
  .reviews {
    background: url(../img/square.svg) no-repeat 21% 19%;
    background-size: 14%;
  }
  .main-slider .title-info {
    bottom: 58% !important;
    right: 15% !important;
  }
  .main-slider .diagonal {
    left: 37% !important;
  }
  .slider.slide-2 img {
    margin-bottom: -7% !important;
  }
  .main-slider img {
    padding-right: 24% !important;
  }
  .slider.slide-1 img {
    padding-right: 18% !important;
  }
  .catalog-preview .preview-item .preview-img {
    height: 170px;
    margin-bottom: 15px;
  }
  .main-product.product2 .mp-features.second {
    left: 15%;
  }
  .main-product.product2 .mp-features.first {
    right: 28%;
  }
  .main-product .mp-features.first {
    left: 18%;
  }
  .main-product .mp-features.second {
    right: 16%;
  }
  .map-form.worksheet .diagonal {
    right: 34%;
  }
  .map-form.worksheet .map-form-info {
    float: none;
    margin-left: 47px;
  }
  .map-form.contacts-bottom .diagonal {
    right: 34%!important;
  }
  .map-form .map-form-info {
    float: right;
    margin-top: 32px;
  }
  .map-form .diagonal {
    right: 32%;
  }
  .work .check-img {
    left: 7%;
  }
  .work .cross-img {
    right: 5%;
  }
}
@media (max-width: 1260px) {
  .reviews {
    background: url(../img/square.svg) no-repeat 13% 19%;
    background-size: 14%;
  }
  .main-product.product2 .mp-img {
    width: 100%;
  }
  .product-info .col-xs-offset-1 {
    margin-left: 1%;
  }
  .product-info .col-xs-4 {
    width: 41.66666667%;
  }
  .product-info .col-xs-6 {
    width: 56%;
  }
  .main-product .mp-features.first {
    left: 5%;
  }
  .main-product .mp-features.second {
    right: 1%;
  }
  .team .col-xs-2 {
    padding-left: 26px;
  }
  .history .info p {
    font-size: 13px;
  }
  .history .info p strong {
    font-size: 19px;
  }
  .work .col-xs-offset-1 {
    margin-left: 1%;
  }
  .work h2 br {
    display: none;
  }
  .footer .col-xs-3 {
    white-space: nowrap;
  }
  .reviews .slick-prev {
    left: 0 !important;
  }
  .reviews .slick-next {
    right: 0 !important;
  }
  .slick-prev {
    left: -50px !important;
  }
  .slick-next {
    right: -50px !important;
  }
  .main-title {
    overflow: hidden;
  }
  .main-title img {
    margin-left: 0;
  }
  .map-form img {
    width: 60%;
  }
  .map-form .diagonal {
    right: 32%;
    height: 470px;
  }
  form.form-quick .btn-primary {
    margin-bottom: 18px;
  }
  .catalog .catalog-item {
    height: 730px;
  }
  .catalog .catalog-item.horizontal {
    height: 515px;
  }
  .catalog .catalog-item.h616 {
    height: 640px;
  }
}
/* Main Slider Responsive */
@media only screen and (max-width: 768px) {
  .slider h2 {
    font-size: 20px;
  }
  .slider h4 {
    font-size: 16px;
  }
  .slider-content {
    padding: 0 2%;
  }
  .navigation {
    padding: 0 2%;
  }
  .navigation-left {
    display: none;
  }
  .number-pagination {
    right: 2%;
  }
  .slider-pagination {
    left: 2%;
  }
  .slider .buy-now-btn {
    padding: 0 15px;
    width: 175px;
    height: 42px;
  }
  .slider .buy-now-btn:after {
    top: 15px;
  }
  .slider > img {
    right: 2%;
  }
  .slide-1 > img {
    right: -110px;
  }
}
@media only screen and (min-width: 768px) {
  .cd-filter {
    margin-top: 2em;
  }
}
.main-slider {
  position: relative;
  width: 100%;
  height: 600px;
  text-align: center;
  overflow: hidden;
  margin-bottom: -5%;
}
.main-slider img {
  margin: -2% auto -8%;
  padding-right: 30%;
  pointer-events: none;
}
.main-slider .diagonal {
  width: 267px;
  height: 452px;
  background-color: #3e8797;
  transform: skewX(-30deg);
  position: absolute;
  margin: 0 auto;
  right: 0;
  bottom: -52px;
  left: 51%;
}
.main-slider .title-info {
  color: #ffffff;
  position: absolute;
  right: 0;
  bottom: 51%;
  z-index: 2;
}
.main-slider .title-info p {
  font-size: 14px;
  font-family: EngraversGothicBT, sans-serif;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 4px;
}
.main-slider .title-info p:first-child {
  margin: 0 0 3px 34px;
}
.main-slider .title-info span {
  font: 84px/0 EngraversGothicBT, sans-serif;
  margin-top: 30px;
  display: inline-block;
}
.css-slider-wrapper {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.slider {
  -webkit-transform: scale(1);
  -webkit-transition: -webkit-transform 1600ms;
  align-content: center;
  align-items: center;
  background: #eeeae8;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: flex-start;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  transform: scale(1);
  transition: -webkit-transform 1600ms, transform 1600ms;
  width: 100%;
  z-index: 0;
}
.slider h2 {
  -webkit-transform: translateX(500px);
  -webkit-transition-delay: 1s;
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  color: #333333;
  font-size: 60px;
  font-weight: 300;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 1.2;
  margin-top: 0;
  opacity: 0;
  text-transform: capitalize;
  transform: translateX(500px);
  transition-delay: 1s;
  transition: transform 800ms, opacity 800ms;
}
.slider .title-info {
  -webkit-transform: translateX(20px);
  -webkit-transition-delay: 1.4s;
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  opacity: 0;
  transform: translateX(20px);
  transition-delay: 1.4s;
  transition: transform 800ms, opacity 800ms;
}
.slider .buy-now-btn:focus {
  outline: none;
}
.slide-1 {
  left: 0;
}
.slide-2 {
  left: 100%;
}
.slider-content {
  padding-left: 100px;
  width: 635px;
}
.slider > img {
  -webkit-transform: translateX(100px);
  -webkit-transition-delay: 1.2s;
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  opacity: 0;
  transform: translateX(100px);
  transition-delay: 1.2s;
  transition: transform 800ms, opacity 800ms;
}
.slide-1 > img {
  right: 0;
}
.buy-now-btn {
  background-color: #ea2e49;
  border-radius: 30px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 100;
  height: 50px;
  padding-left: 35px;
  position: relative;
  text-align: left;
  transition: all .2s;
  width: 220px;
}
.buy-now-btn:hover {
  box-shadow: 0px 0px 60px -17px #333333;
}
.buy-now-btn:after {
  content: 'Buy Now';
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  right: 35px;
  text-transform: uppercase;
  top: 18px;
}
.navigation .login-btn:focus {
  outline: none;
}
.slider-pagination {
  align-items: center;
  bottom: 30px;
  display: flex;
  display: none;
  left: 100px;
  position: absolute;
  width: 575px;
  z-index: 1000;
}
.slider-pagination label {
  background: #ff6600;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 0 10px;
  width: 8px;
}
.slide-radio1:checked ~ .slider-pagination .page1 {
  background: transparent;
  border: 2px solid #ff6600;
  height: 14px;
  width: 14px;
}
.slide-radio1:checked ~ .slider {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.slide-radio1:checked ~ .slide-1 h2 {
  -webkit-transform: translateX(0);
  opacity: 1;
  transform: translateX(0);
}
.slide-radio1:checked ~ .slide-1 .title-info {
  -webkit-transform: translateX(0);
  opacity: 1;
  transform: translateX(0);
}
.slide-radio1:checked ~ .slide-1 > img {
  -webkit-transform: translateX(0);
  opacity: 1;
  transform: translateX(0);
}
.slide-radio2:checked ~ .slider-pagination .page2 {
  background: transparent;
  border: 2px solid #ff6600;
  height: 14px;
  width: 14px;
}
.slide-radio2:checked ~ .slider {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.slide-radio2:checked ~ .slide-2 h2 {
  -webkit-transform: translateX(0);
  opacity: 1;
  transform: translateX(0);
}
.slide-radio2:checked ~ .slide-2 .title-info {
  -webkit-transform: translateX(0);
  opacity: 1;
  transform: translateX(0);
}
.slide-radio2:checked ~ .slide-2 > img {
  -webkit-transform: translateX(0);
  opacity: 1;
  transform: translateX(0);
}
.slide-radio3:checked ~ .slider-pagination .page3 {
  background: transparent;
  border: 2px solid #ff6600;
  height: 14px;
  width: 14px;
}
.slide-radio4:checked ~ .slider-pagination .page4 {
  background: transparent;
  border: 2px solid #ff6600;
  height: 14px;
  width: 14px;
}
.modal.question-form button {
  margin-top: 0!important;
}
.modal .modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  padding: 25px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}
.modal .modal-content.grey {
  background: #eeeae8;
}
.modal .modal-header {
  border: none;
}
.modal .modal-header img {
  width: 27px;
  pointer-events: none;
}
.modal .modal-header .close {
  opacity: 1!important;
}
.modal .modal-header .close:focus {
  outline: none;
}
.modal .modal-header h2 {
  position: relative;
  z-index: 1;
  margin-top: -16px;
}
.modal .modal-header .close {
  position: relative;
  z-index: 3;
}
.modal .modal-body {
  margin-top: -25px;
}
.modal .modal-body .form-quick button {
  margin-top: 44px;
  display: block;
}
.modal-backdrop {
  background: #36464e;
}
.no-touch .cd-slider-navigation li a:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.no-touch .cd-slider-controls a:hover {
  background-color: #fff;
}
.cd-slider-wrapper {
  position: relative;
  width: 100%;
  height: 510px;
  margin: 2em auto;
  overflow: hidden;
}
.cd-slider-wrapper ul {
  padding: 0;
  height: inherit;
}
.cd-slider-wrapper svg {
  width: 100%;
  height: 510px;
  position: absolute;
  top: 0;
  left: 0;
}
.cd-slider > li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  opacity: 0;
  overflow: hidden;
}
.cd-slider > li.visible {
  position: relative;
  z-index: 2;
  opacity: 1;
}
.cd-slider > li.visible .d-info {
  opacity: 1;
}
.cd-slider > li.is-animating {
  z-index: 3;
  opacity: 1;
}
.cd-slider .cd-svg-wrapper {
  height: 0;
  padding-bottom: 36.15%;
  position: relative;
}
.cd-slider-navigation li {
  position: absolute;
  z-index: 3;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  height: 48px;
  width: 48px;
}
.cd-slider-navigation li a {
  display: block;
  height: 100%;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  background: url(../img/cd-icon-arrows.svg) no-repeat 0 0;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}
.cd-slider-navigation li:last-of-type {
  left: 10px;
  right: auto;
}
.cd-slider-navigation li:last-of-type a {
  background-position: -48px 0;
}
.cd-slider-controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 3;
  text-align: center;
  width: 90%;
  display: none;
}
.cd-slider-controls::after {
  clear: both;
  content: "";
  display: table;
}
.cd-slider-controls li {
  display: inline-block;
  margin-right: 10px;
}
.cd-slider-controls li:last-of-type {
  margin-right: 0;
}
.cd-slider-controls li.selected a {
  background-color: #fff;
}
.cd-slider-controls a {
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}
