@media (min-width: 1400px) {
  .catalog .row > div:first-child .catalog-item {
    margin-left: 0;
  }
  .reviews {
    background: url(../img/square.svg) no-repeat 21% 19%;
    background-size: 14%;
  }
  .main-slider .title-info {
    bottom: 58% !important;
    right: 15% !important;
  }
  .main-slider .diagonal {
    left: 37% !important;
  }
  .slider.slide-2 img {
    margin-bottom: -7% !important;
  }
  .main-slider img {
    padding-right: 24% !important;
  }
  .slider.slide-1 img {
    padding-right: 18% !important;
  }
  .catalog-preview .preview-item .preview-img {
    height: 170px;
    margin-bottom: 15px;
  }
  .main-product.product2 .mp-features.second {
    left: 15%;
  }
  .main-product.product2 .mp-features.first {
    right: 28%;
  }
  .main-product .mp-features.first {
    left: 18%;
  }
  .main-product .mp-features.second {
    right: 16%;
  }
  .map-form.worksheet .diagonal {
    right: 34%;
  }
  .map-form.worksheet .map-form-info {
    float: none;
    margin-left: 47px;
  }
  .map-form.contacts-bottom .diagonal {
    right: 34%!important;
  }
  .map-form .map-form-info {
    float: right;
    margin-top: 32px;
  }
  .map-form .diagonal {
    right: 32%;
  }
  .work .check-img {
    left: 7%;
  }
  .work .cross-img {
    right: 5%;
  }
}
@media (max-width: 1260px) {
  .reviews {
    background: url(../img/square.svg) no-repeat 13% 19%;
    background-size: 14%;
  }
  .main-product.product2 .mp-img {
    width: 100%;
  }
  .product-info .col-xs-offset-1 {
    margin-left: 1%;
  }
  .product-info .col-xs-4 {
    width: 41.66666667%;
  }
  .product-info .col-xs-6 {
    width: 56%;
  }
  .main-product .mp-features.first {
    left: 5%;
  }
  .main-product .mp-features.second {
    right: 1%;
  }
  .team .col-xs-2 {
    padding-left: 26px;
  }
  .history .info p {
    font-size: 13px;
  }
  .history .info p strong {
    font-size: 19px;
  }
  .work .col-xs-offset-1 {
    margin-left: 1%;
  }
  .work h2 br {
    display: none;
  }
  .footer .col-xs-3 {
    white-space: nowrap;
  }
  .reviews .slick-prev {
    left: 0 !important;
  }
  .reviews .slick-next {
    right: 0 !important;
  }
  .slick-prev {
    left: -50px !important;
  }
  .slick-next {
    right: -50px !important;
  }
  .main-title {
    overflow: hidden;
  }
  .main-title img {
    margin-left: 0;
  }
  .map-form img {
    width: 60%;
  }
  .map-form .diagonal {
    right: 32%;
    height: 470px;
  }
  form.form-quick .btn-primary {
    margin-bottom: 18px;
  }
  .catalog .catalog-item {
    height: 730px;
  }
  .catalog .catalog-item.horizontal {
    height: 515px;
  }
  .catalog .catalog-item.h616 {
    height: 640px;
  }
}
/* Main Slider Responsive */
@media only screen and (max-width: 768px) {
  .slider h2 {
    font-size: 20px;
  }
  .slider h4 {
    font-size: 16px;
  }
  .slider-content {
    padding: 0 2%;
  }
  .navigation {
    padding: 0 2%;
  }
  .navigation-left {
    display: none;
  }
  .number-pagination {
    right: 2%;
  }
  .slider-pagination {
    left: 2%;
  }
  .slider .buy-now-btn {
    padding: 0 15px;
    width: 175px;
    height: 42px;
  }
  .slider .buy-now-btn:after {
    top: 15px;
  }
  .slider > img {
    right: 2%;
  }
  .slide-1 > img {
    right: -110px;
  }
}
@media only screen and (min-width: 768px) {
  .cd-filter {
    margin-top: 2em;
  }
}
