body {
  background-color: #fc4862;
}
p {
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
  color: #fff;
  text-align: center;
}
.wrapper {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.star-item {
  background: url(../star-red.svg) no-repeat center;
  background-size: 71%;
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 10px;
}
.star-item .star {
  position: relative;
  z-index: 2;
  background: url(../star-white.svg);
  width: 50px;
  height: 50px;
  transition: transform .2s;
}
.star-item .star:after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  left: 49%;
  top: 53%;
  z-index: -1;
  transition: all .2s;
}
.ui-draggable-dragging {
  transform: rotate(20deg) scale(1.3);
}
.ui-draggable-dragging:after {
  box-shadow: 0px 0px 46px 26px rgba(239, 255, 0, 0.7);
}
