@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?igchhc');
  src: url('../fonts/icomoon.eot?igchhc#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?igchhc') format('truetype'), url('../fonts/icomoon.woff?igchhc') format('woff'), url('../fonts/icomoon.svg?igchhc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-left:before {
  content: "\e916";
}
.icon-arrow-right:before {
  content: "\e917";
}
.icon-check:before {
  content: "\e915";
}
.icon-arrow-down:before {
  content: "\e900";
}
.icon-calendar:before {
  content: "\e901";
}
.icon-car:before {
  content: "\e902";
}
.icon-car-item:before {
  content: "\e903";
}
.icon-cart:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e905";
}
.icon-fb:before {
  content: "\e906";
}
.icon-instagram:before {
  content: "\e907";
}
.icon-iphone:before {
  content: "\e908";
}
.icon-mail:before {
  content: "\e909";
}
.icon-mastercard:before {
  content: "\e90a";
}
.icon-phone:before {
  content: "\e90b";
}
.icon-point:before {
  content: "\e90c";
}
.icon-qiwi:before {
  content: "\e90d";
}
.icon-question:before {
  content: "\e90e";
}
.icon-sale:before {
  content: "\e90f";
}
.icon-search:before {
  content: "\e910";
}
.icon-visa:before {
  content: "\e911";
}
.icon-vk:before {
  content: "\e912";
}
.icon-yandex:before {
  content: "\e913";
}
.icon-zoom:before {
  content: "\e914";
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
input[type="text"]:focus,
button:focus {
  outline: none;
}
::-webkit-input-placeholder {
  color: #fff;
}
::-moz-placeholder {
  color: #fff;
}
/* Firefox 19+ */
:-moz-placeholder {
  color: #fff;
}
/* Firefox 18- */
:-ms-input-placeholder {
  color: #fff;
}
.flora-search-btn {
  cursor: pointer;
}
.woocommerce-Price-amount {
  font-family: 'PT Sans', 'Open Sans', sans-serif;
}
.successFullSended,
.formInfoPlace,
.formErrorPlace {
  display: none;
}
body {
  background: #212121;
  max-width: 736px;
  margin: 0 auto;
}
body.woocommerce {
  max-width: 100% !important;
  padding-left: 0;
  padding-right: 0;
}
.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}
.slideout-menu-left {
  left: 0;
}
.slideout-menu-right {
  right: 0;
}
.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF;
  /* A background-color is required */
  min-height: 100vh;
}
.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}
.slideout-open .slideout-menu {
  display: block;
}
h2 {
  font-family: "Lora", Georgia, "Times New Roman", Times, serif;
  padding-bottom: 32px;
}
.email {
  color: #000000;
  text-decoration: underline;
}
.email:hover,
.emailfocus {
  color: #000000;
  text-decoration: underline;
}
.modal-backdrop {
  background: #c0d69a;
}
.modal-dialog .modal-content {
  border-radius: 0;
  box-shadow: none;
  border: 0;
}
.modal-dialog .modal-content input,
.modal-dialog .modal-content textarea,
.modal-dialog .modal-content select {
  width: 355px;
  margin: 0 auto;
}
.modal-dialog .modal-content h2 {
  font-size: 42px;
  width: 355px;
  margin: 30px auto 0;
}
.modal-dialog .modal-content .close {
  font-size: 30px;
}
.modal-dialog .modal-content .modal-body {
  padding: 25px 25px 45px;
}
.custom-form {
  text-align: center;
  /* Firefox 19+ */
  /* Firefox 18- */
  /*a {
    display: block;
    margin-top: -25px;
    color: #000;
  }*/
}
.custom-form input,
.custom-form textarea {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 2px solid #cbcccd;
  height: 55px;
  padding-left: 20px;
}
.custom-form select {
  border-radius: 0;
  border: 2px solid #cbcccd;
  height: 55px;
  padding: 10px 20px;
}
.custom-form textarea {
  height: 110px;
}
.custom-form ::-webkit-input-placeholder {
  color: #333;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.custom-form ::-moz-placeholder {
  color: #333;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.custom-form :-moz-placeholder {
  color: #333;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.custom-form :-ms-input-placeholder {
  color: #333;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.custom-form button {
  margin-top: 20px;
}
.custom-form .options input[type="checkbox"] {
  width: 100%;
  left: 0;
}
.custom-form .options label {
  width: 28px;
  height: 28px;
  margin-top: -35px;
}
.custom-form .options span {
  text-align: left;
  margin-left: 40px;
}
.options .form-group {
  display: inline-block;
  padding: 0 2px;
  color: #808080;
  font-size: 14px;
}
.options span {
  display: inline-block;
  padding-top: 2px;
}
.options input[type="checkbox"] {
  width: 29%;
  opacity: 0;
  cursor: pointer;
  margin-left: -30px;
  top: 0;
}
.options input[type="checkbox"]:checked + label {
  background: #0e8035;
  border-color: #0e8035;
}
.options input[type="checkbox"]:checked + label:after {
  transform: scale(1.3);
}
.options label {
  float: left;
  display: inline-block;
  box-sizing: border-box;
  width: 23px;
  height: 23px;
  border: 2px solid #CBCCCD;
  position: relative;
  transition: .2s;
  padding-left: 0;
  margin-right: 10px;
}
.options label:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background: url(../img/icons/icomoon/check.svg) center center no-repeat;
  background-size: contain;
  transform: scale(0);
  transition: .2s;
  position: absolute;
  top: 0;
  left: 0;
}
.options label:active:before {
  background: #bfbfbf;
}
.slick-slide {
  outline: none !important;
}
.pickup-address-modal-content {
  padding-bottom: 25px !important;
}
.pickup-address-modal-content .list-group-item {
  cursor: pointer;
}
.pickup-address-modal-content .list-group-item input {
  width: auto !important;
}
.pickup-address-modal-content .list-group-item input + span {
  font-weight: 400;
}
.pickup-address-modal-content .list-group-item input:checked + span {
  font-weight: 800;
}
.spoiler {
  border-top: 2px solid #cbcccd;
  /* Turn A down */
  /* Turn B down */
  /* turnAup */
  /* turnBup */
}
.spoiler .spoiler-title {
  position: relative;
  cursor: pointer;
}
.spoiler .spoiler-body {
  padding-bottom: 20px;
}
.spoiler .arrow-button {
  cursor: pointer;
  width: 19px;
  height: 22px;
  border: none;
  background: none;
  position: relative;
  float: right;
  top: 17px;
}
.spoiler .arrow-button:focus {
  outline: none;
}
.spoiler .arrow-button:hover .line-a,
.spoiler .arrow-button:hover .line-b {
  background: #949494;
}
.spoiler .line-a {
  display: inline-block;
  width: 12px;
  height: 2px;
  background: #cbcccd;
  position: absolute;
  left: 0;
  top: 13px;
  transform: rotate3d(0, 0, 1, 45deg);
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.spoiler .line-b {
  display: inline-block;
  width: 12px;
  height: 2px;
  background: #cbcccd;
  position: absolute;
  right: 0;
  top: 13px;
  transform: rotate3d(0, 0, 1, -45deg);
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.spoiler .arrow-button.down .line-a {
  position: absolute;
  right: 0;
  top: 10px;
  animation-name: turnAdown;
  -webkit-animation-name: turnAdown;
  animation-duration: .5s;
  -webkit-animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  transform: rotate3d(0, 0, 1, 45deg);
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
}
.spoiler .arrow-button.down .line-b {
  position: absolute;
  right: 0;
  top: 10px;
  animation-name: turnBdown;
  -webkit-animation-name: turnBdown;
  animation-duration: .5s;
  -webkit-animation-duration: .5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  transform: rotate3d(0, 0, 1, -45deg);
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
}
.spoiler .arrow-button.up .line-a {
  position: absolute;
  left: 0;
  top: 13px;
  animation-name: turnAup;
  -webkit-animation-name: turnAup;
  animation-duration: .5s;
  -webkit-animation-duration: .5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  transform: rotate3d(0, 0, 1, -45deg);
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
}
.spoiler .arrow-button.up .line-b {
  position: absolute;
  right: 0;
  top: 13px;
  animation-name: turnBup;
  -webkit-animation-name: turnBup;
  animation-duration: .5s;
  -webkit-animation-duration: .5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  transform: rotate3d(0, 0, 1, 45deg);
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
}
@keyframes turnAdown {
  0% {
    transform: rotate3d(0, 0, 1, -45deg);
    top: 10px;
  }
  50% {
    width: 10px;
  }
  100% {
    transform: rotate3d(0, 0, 1, 45deg);
    top: 13px;
  }
}
@-webkit-keyframes turnAdown {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    top: 10px;
  }
  50% {
    width: 10px;
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    top: 13px;
  }
}
@keyframes turnBdown {
  0% {
    transform: rotate3d(0, 0, 1, 45deg);
    top: 10px;
  }
  50% {
    width: 10px;
  }
  100% {
    transform: rotate3d(0, 0, 1, -45deg);
    top: 13px;
  }
}
@-webkit-keyframes turnBdown {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    top: 10px;
  }
  50% {
    width: 10px;
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    top: 13px;
  }
}
@keyframes turnAup {
  0% {
    transform: rotate3d(0, 0, 1, 45deg);
    top: 13px;
  }
  50% {
    width: 10px;
  }
  100% {
    transform: rotate3d(0, 0, 1, -45deg);
    top: 10px;
  }
}
@-webkit-keyframes turnAup {
  0% {
    transform: rotate3d(0, 0, 1, 45deg);
    top: 13px;
  }
  50% {
    width: 10px;
  }
  100% {
    transform: rotate3d(0, 0, 1, -45deg);
    top: 10px;
  }
}
@keyframes turnBup {
  0% {
    transform: rotate3d(0, 0, 1, -45deg);
    top: 13px;
  }
  50% {
    width: 10px;
  }
  100% {
    transform: rotate3d(0, 0, 1, 45deg);
    top: 10px;
  }
}
@-webkit-keyframes turnBup {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    top: 13px;
  }
  50% {
    width: 10px;
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    top: 10px;
  }
}
.spoiler p {
  color: #333;
  letter-spacing: 3px;
  padding: 20px 0;
  margin: 0;
  text-transform: uppercase;
  display: inline-block;
}
.spoiler p span {
  float: right;
  margin-right: 20px;
  color: #cbcccd;
  font-size: 22px;
}
.old-price {
  color: #808080;
  position: relative;
}
.old-price:after {
  content: '';
  position: absolute;
  top: 10px;
  width: 118%;
  height: 1px;
  background-color: #808080;
  left: -3px;
}
.center {
  text-align: center;
}
.new-price {
  color: #b71c24;
  font-weight: bold;
  font-size: 26px;
  vertical-align: sub;
  padding-left: 5px;
}
.container-fluid {
  max-width: 1400px;
}
.pD0 {
  padding: 0;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: transparent;
  color: #0e8035;
}
.pagination {
  margin: 0;
  padding: 0;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: transparent;
}
.pagination > li > a,
.pagination > li > span {
  padding: 3px 13px;
  border: none;
  color: #333333;
}
.pagination > li span {
  font-size: 30px;
  color: #cbcccd;
}
.pagination > li a.arrow-left,
.pagination > li a.arrow-right {
  padding: 0 3px;
  margin: -4px 25px 0;
}
.btn-primary {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.wrapper {
  overflow: hidden;
  max-width: 736px;
  background: #ffffff;
}
.btn-danger {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.label-danger {
  background-color: #b71c24;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 13px;
  font-weight: bold;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  letter-spacing: 3px;
  font-size: 12px;
}
.label-warning {
  background-color: #dcb80a;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 20px;
  font-weight: bold;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  letter-spacing: 3px;
  font-size: 12px;
}
.slick-arrow {
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: transparent;
  border: none;
}
.slick-arrow.slick-prev {
  position: absolute;
  left: -45px;
  top: 37%;
}
.slick-arrow.slick-prev:before {
  content: '';
  width: 30px;
  height: 30px;
  display: block;
  background: url("../img/icons/arrow-slide-left.svg") no-repeat center;
}
.slick-arrow.slick-next {
  position: absolute;
  right: -45px;
  top: 37%;
}
.slick-arrow.slick-next:before {
  content: '';
  width: 30px;
  height: 30px;
  display: block;
  background: url("../img/icons/arrow-slide-right.svg") no-repeat center;
}
.fl-item {
  color: #000;
  margin: 0 10px;
  border: 2px solid #fff;
  padding: 20px 10px;
  position: relative;
  float: left;
}
.fl-item:focus {
  outline: none;
}
.fl-item:before {
  content: '';
  height: 2px;
  width: 80%;
  background-color: #cbcccd;
  position: absolute;
  top: 293px;
  display: block;
  margin-left: 23px;
}
.fl-item:hover,
.fl-item:focus {
  border-color: #0e8035;
  text-decoration: none;
}
.fl-item p {
  font-weight: bold;
  font-size: 26px;
  font-family: "Lora", Georgia, "Times New Roman", Times, serif;
  padding: 0;
  margin: 0;
  line-height: 1.1;
}
.fl-item img {
  margin: 0 auto;
  height: 280px;
  padding-bottom: 44px;
}
.fl-item .caption {
  color: #808080;
  font-size: 12px;
}
.fl-item .price {
  font-size: 26px;
  font-weight: bold;
}
.fl-item .label-danger {
  position: absolute;
  top: 5px;
  right: 6%;
}
.fl-item .label-warning {
  position: absolute;
  top: 5px;
  right: 6%;
}
.secondary-nav {
  background-color: #00622a;
  color: #fff;
}
.secondary-nav .logo {
  text-align: center;
  width: 10%;
}
.secondary-nav .logo img {
  max-height: 68px;
}
.secondary-nav .phone p {
  margin: 0;
}
.secondary-nav .navbar-default {
  background: none;
  border: none;
  padding: 5px 0;
  margin: 0;
  min-height: initial;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.secondary-nav .navbar-default ul.nav {
  float: left;
  margin: 0;
}
.secondary-nav .navbar-default ul.nav li {
  float: left;
}
.secondary-nav .navbar-default ul li.active a,
.secondary-nav .navbar-default ul li.active a:hover {
  background-color: transparent;
  color: inherit;
}
.secondary-nav .navbar-default ul li a {
  color: #fff;
  font-size: 12px;
  padding: 6px 17px;
}
.secondary-nav .navbar-default ul li a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.secondary-nav .navbar-default .login-link {
  position: relative;
}
.secondary-nav .navbar-default .login-link li a {
  padding: 6px 10px;
}
.secondary-nav .navbar-default .login-link .divider:before {
  content: "|";
  position: absolute;
  left: 0;
  top: 5px;
}
.dropdown span {
  padding-left: 6px;
  vertical-align: middle;
  font-size: 16px;
}
.dropdown.open a {
  background-color: #00622a;
  color: #ffffff;
}
.dropdown .dropdown-menu {
  background-color: #00622a;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.dropdown .dropdown-menu li.button {
  display: block;
  width: 85%;
  margin: 5px auto 0;
}
.dropdown .dropdown-menu li.button a {
  background-color: #b71c24;
}
.dropdown .dropdown-menu li.button a:hover,
.dropdown .dropdown-menu li.button a:focus {
  border-color: #b71c24;
}
.invisible {
  visibility: hidden;
}
.filter-label.has-active-checkbox {
  font-weight: bold;
}
.js-filter-checkbox {
  min-height: 23px;
  padding: 0;
  margin: 0;
  line-height: 23px;
  display: block;
}
.header {
  background: #0e8035;
  padding: 15px 0;
  color: #ffffff;
  text-align: center;
}
.header .header-logo-link {
  display: block;
  margin: -15px -45px;
  padding: 15px 45px;
}
.header p {
  display: inline-block;
}
.header .header-item {
  display: inline-block;
  width: 22%;
}
.header .header-item p {
  margin: 0;
}
.header .header-item a {
  color: #fff;
}
.header .header-item a:hover p {
  text-decoration: underline;
}
.header .header-item a:hover span {
  text-decoration: none;
}
.header .header-item span {
  font-size: 31px;
  padding-right: 10px;
  vertical-align: middle;
}
.header .header-item .small {
  font-size: 12px;
  padding: 0;
  margin: 0;
  vertical-align: inherit;
}
.header .search {
  position: relative;
  display: inline-block;
}
.header .search span {
  font-size: 29px;
  position: absolute;
  top: 3px;
  right: 6px;
}
.header .search input {
  height: 35px;
  width: 160px;
  background: #009854;
  border: none;
  -webkit-border-radius: 25px !important;
  -moz-border-radius: 25px !important;
  border-radius: 25px;
  padding-left: 13px;
  padding-right: 45px;
}
.header .cart-icon {
  color: #fff;
  position: relative;
}
.header .cart-icon:hover,
.header .cart-icon:focus {
  text-decoration: none;
}
.header .cart-icon span {
  font-size: 53px;
  padding-left: 20px;
  position: relative;
  margin-bottom: 15px;
  display: inline-block;
}
.header .cart-count {
  background: #0e8035;
  border: 1px solid #ffffff;
  line-height: 1em;
  font-weight: 800;
  font-size: 14px !important;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 5px !important;
  left: 41px;
  top: -18px;
  position: absolute !important;
  min-width: 26px;
  text-align: center;
}
.nav-categories {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  -webkit-box-shadow: 0 25px 44px 0 #ecebeb;
  -moz-box-shadow: 0 25px 44px 0 #ecebeb;
  box-shadow: 0 25px 44px 0 #ecebeb;
}
.nav-categories .cat-item {
  display: inline-block;
  text-align: center;
  line-height: 1;
  width: 10%;
}
.nav-categories .cat-item .plant .cat-icon {
  background: url("../img/icons/plant-color.svg") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}
.nav-categories .cat-item .plant:hover,
.nav-categories .cat-item .plant.active {
  font-weight: 800;
}
.nav-categories .cat-item .plant:hover .cat-icon,
.nav-categories .cat-item .plant.active .cat-icon {
  background: url("../img/icons/plant-fill.svg") no-repeat center;
}
.nav-categories .cat-item .compositions .cat-icon {
  background: url("../img/icons/compositions-color.svg") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}
.nav-categories .cat-item .compositions:hover,
.nav-categories .cat-item .compositions.active {
  font-weight: 800;
}
.nav-categories .cat-item .compositions:hover .cat-icon,
.nav-categories .cat-item .compositions.active .cat-icon {
  background: url("../img/icons/compositions-fill.svg") no-repeat center;
}
.nav-categories .cat-item .houseplant .cat-icon {
  background: url("../img/icons/houseplant-color.svg") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}
.nav-categories .cat-item .houseplant:hover,
.nav-categories .cat-item .houseplant.active {
  font-weight: 800;
}
.nav-categories .cat-item .houseplant:hover .cat-icon,
.nav-categories .cat-item .houseplant.active .cat-icon {
  background: url("../img/icons/houseplant-fill.svg") no-repeat center;
}
.nav-categories .cat-item .bear .cat-icon {
  background: url("../img/icons/bear-color.svg") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}
.nav-categories .cat-item .bear:hover,
.nav-categories .cat-item .bear.active {
  font-weight: 800;
}
.nav-categories .cat-item .bear:hover .cat-icon,
.nav-categories .cat-item .bear.active .cat-icon {
  background: url("../img/icons/bear-fill.svg") no-repeat center;
}
.nav-categories .cat-item .baloon .cat-icon {
  background: url("../img/icons/baloon-color.svg") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}
.nav-categories .cat-item .baloon:hover,
.nav-categories .cat-item .baloon.active {
  font-weight: 800;
}
.nav-categories .cat-item .baloon:hover .cat-icon,
.nav-categories .cat-item .baloon.active .cat-icon {
  background: url("../img/icons/baloon-fill.svg") no-repeat center;
}
.nav-categories .cat-item .stock .cat-icon {
  background: url("../img/icons/stock-color.svg") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}
.nav-categories .cat-item .stock:hover,
.nav-categories .cat-item .stock.active {
  font-weight: 800;
}
.nav-categories .cat-item .stock:hover .cat-icon,
.nav-categories .cat-item .stock.active .cat-icon {
  background: url("../img/icons/stock-fill.svg") no-repeat center;
}
.nav-categories .cat-item .cat-icon {
  width: 50px;
  height: 68px;
  margin: 0 auto;
}
.nav-categories .cat-item span {
  display: flex;
  justify-content: center;
  font-size: 14px;
}
.nav-categories .cat-item img {
  width: 50px;
  display: block;
  margin: 0 auto;
  padding-bottom: 18px;
}
.nav-categories .cat-item a {
  display: inline-block;
  color: #000;
  text-decoration: underline;
  width: 100px;
}
.teasers .col-xs-12 {
  padding: 0!important;
}
.teasers .subtext {
  font-size: 18px;
  line-height: 1.2em;
  display: block;
  font-family: "Lora", serif;
  font-weight: 400;
}
.teasers .teaser {
  display: block;
  position: relative;
  color: #fff;
  font-family: "Lora", Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
}
.teasers .teaser.teaser-top {
  margin-bottom: 28px;
}
.teasers .teaser.teaser-bottom .teaser-caption span {
  font-size: 60px;
}
.teasers .teaser .teaser-caption {
  position: absolute;
  top: auto;
  bottom: 10px;
  left: 15px;
  right: 15px;
  text-align: center;
}
.teasers .teaser .teaser-caption .icon {
  font-size: 92px;
  padding-bottom: 25px;
  display: inline-block;
}
.teasers .teaser .teaser-caption p {
  font-size: 24px;
}
.teasers .slick {
  position: relative;
}
.teasers .slick .slick-slide {
  height: 281px;
}
.teasers .slick .slick-caption {
  position: absolute;
  color: #fff;
  top: 8%;
  margin-left: 50px;
}
.teasers .slick .slick-caption p {
  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 1;
}
.teasers .slick .slick-caption span {
  font-size: 20px;
  display: block;
  padding-bottom: 14px;
}
.teasers .slick .slick-caption a {
  padding: 10px 46px;
}
.teasers .slick .slick-dots {
  list-style-type: none;
  position: absolute;
  bottom: 0;
}
.teasers .slick .slick-dots li {
  float: left;
}
.teasers .slick .slick-dots li button {
  position: relative;
  background: transparent;
  border: none;
  color: transparent;
  margin: 0 7px;
  width: 12px;
  height: 12px;
}
.teasers .slick .slick-dots li button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}
.teasers .slick .slick-dots li.slick-active button:after {
  background: transparent !important;
}
.advantages {
  padding: 25px 10px;
  text-align: center;
}
.advantages .row:last-child .col-xs-2 {
  padding: 0;
}
.advantages img {
  max-height: 58px;
}
.advantages p {
  padding-top: 48px;
  position: relative;
}
.advantages p:before {
  content: '';
  position: absolute;
  top: 23px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #0e8035;
  height: 2px;
  width: 40px;
}
.banner-center img {
  margin: 0 auto;
}
.banner-product {
  padding-bottom: 55px;
}
.help.type-two .help-wrapper .img-help {
  background: url("../img/banner-bg.jpg") no-repeat center;
  bottom: inherit;
  top: -1px;
}
.help.type-two .help-wrapper p {
  margin-right: 87px;
}
.help.type-two .help-wrapper .inner {
  margin: 0;
}
.help .help-wrapper {
  width: 83.5%;
  margin: 0 auto;
  position: relative;
}
.help .help-wrapper .img-help {
  background: url("../img/help-bg.jpg") no-repeat center;
  mix-blend-mode: multiply;
  width: 317px;
  height: 163px;
  position: absolute;
  bottom: 0;
}
.help .help-wrapper .inner {
  background-color: #dcedc8;
  height: 100px;
  width: 100%;
  bottom: 0;
  text-align: right;
  z-index: 2;
  margin: 75px auto 0;
}
.help .help-wrapper p {
  font-size: 24px;
  display: inline-block;
  font-family: "Lora", Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  margin-top: 29px;
  margin-right: 30px;
}
.help .help-wrapper p span {
  font-size: 16px;
}
.help .help-wrapper .btn {
  display: inline-block;
  margin-right: 40px;
}
.reviews {
  padding: 25px 0;
  background-color: #dcedc8;
  text-align: center;
}
.reviews h2 {
  text-align: center;
  margin-top: 0;
}
.reviews .slick-reviews {
  width: 88%;
  margin: 0 auto;
  text-align: left;
}
.reviews .slick-reviews .slick-arrow.slick-prev,
.reviews .slick-reviews .slick-arrow.slick-next {
  top: 24%;
}
.reviews .reviews-item:focus {
  outline: none;
}
.reviews .reviews-item a {
  letter-spacing: 3px;
  margin-top: 34px;
}
.reviews .reviews-item .review-wrapper {
  width: 98%;
  margin: 0 auto;
}
.reviews .reviews-item .review-wrapper .review-photo {
  float: left;
  padding-right: 60px;
  text-align: center;
}
.reviews .reviews-item .review-wrapper .review-photo p {
  font-weight: bold;
  font-size: 22px;
  padding-top: 17px;
}
.service {
  padding: 25px 0;
  background: url("../img/service-bg.png") no-repeat -25% 50%;
}
.service h2 {
  text-transform: uppercase;
  margin-top: 0;
}
.service a {
  color: #00622a;
  text-decoration: underline;
}
.footer {
  padding: 25px 0;
  margin-bottom: -10px;
  background: url("../img/footer-bg.jpg") no-repeat center #0c7c36;
  background-size: cover;
  position: relative;
}
.footer .container-fluid:first-child {
  display: flex;
  justify-content: center;
}
.footer:before {
  content: '';
  height: 2px;
  width: 100%;
  position: absolute;
  top: 210px;
  background-color: #00622a;
  left: 0;
  right: 0;
}
.footer .logo {
  text-align: center;
}
.footer .logo img {
  width: 134px;
}
.footer .logo p {
  text-transform: uppercase;
  font-size: 17px;
  font-family: "Lora", Georgia, "Times New Roman", Times, serif;
  color: #ffffff;
  white-space: nowrap;
  padding-top: 15px;
}
.footer .address ul {
  padding-top: 10px;
}
.footer .fl-padding ul {
  margin-top: 43px;
}
.footer .fl-padding ul li {
  white-space: nowrap;
}
.footer .phones ul {
  padding-top: 10px;
}
.footer .phones a {
  color: #ffffff;
  display: inline;
  font-size: 12px;
  padding-left: 10px;
  vertical-align: 8px;
}
.footer .payment ul {
  padding-bottom: 10px;
}
.footer .payment span {
  padding: 0 7px;
}
.footer span {
  font-size: 30px;
  color: #ffffff;
}
.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer ul li {
  font-size: 12px;
  color: #ffffff;
  line-height: 21px;
}
.footer .footer-top {
  padding-bottom: 36px;
}
.footer .footer-bottom-wrapper {
  width: 96%;
  margin: 0 auto;
}
.footer .footer-bottom {
  padding-top: 36px;
  color: #fff;
  text-align: center;
}
.footer .footer-bottom a {
  color: #fff;
}
.footer .footer-bottom .copyright {
  float: left;
}
.footer .footer-bottom .copyright p {
  text-transform: uppercase;
}
.footer .footer-bottom .development {
  float: right;
  font-size: 12px;
  margin-top: -32px;
  text-align: left;
}
.footer .footer-bottom .development a {
  text-decoration: underline;
}
.footer .footer-bottom .social span {
  display: inline-block;
  padding: 0 10px;
}
.footer .footer-bottom .social span.icon-instagram {
  margin-right: 80px;
}
.content {
  padding: 25px 15px;
}
.content h2 {
  margin-top: 0;
  padding-bottom: 23px;
}
.content h2.delivery {
  padding-bottom: 8px;
}
.content ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
.content.about .about-bottom {
  text-align: center;
}
.content.about .about-bottom img {
  padding-top: 40px;
}
.content.about .about-bottom .btn {
  margin-top: 40px;
}
.content .working-hours {
  margin-bottom: 26px;
  position: relative;
}
.content .working-hours:after {
  content: '';
  height: 2px;
  width: 32%;
  text-align: center;
  margin: 0 auto;
  display: block;
  background-color: #0e8035;
}
.content .working-hours p {
  color: #0e8035;
  font-size: 60px;
  font-family: "Lora", Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
}
.content .working-hours p span {
  font-size: 100px;
  font-weight: 700;
}
.content .details {
  display: inline-block;
  padding-right: 15px;
  text-align: left;
  padding-bottom: 20px;
}
.content .btn {
  margin-bottom: 40px;
}
.content .phone {
  font-size: 30px;
}
.content .description {
  text-align: left;
  display: inline-block;
  float: left;
  width: 45%;
  padding-top: 35px;
}
.content .description h2 {
  padding-bottom: 10px;
}
.contacts .flora-contact-map {
  width: 100%;
  height: 450px;
  margin: 40px auto 0;
  display: block;
  text-align: center;
}
.contacts .contacts-phones {
  border-bottom: 2px solid #cbcccd;
  padding-bottom: 40px;
}
.contacts .contacts-item {
  display: inline-block;
  width: 24.6111111%;
  margin-top: 30px;
}
.contacts .contacts-item img {
  display: block;
  margin-bottom: 10px;
}
.contacts .contacts-item span {
  font-size: 12px;
  display: block;
  line-height: 15px;
}
.contacts .contacts-item p {
  line-height: 25px;
}
.contacts .contacts-item a {
  display: block;
  color: #000;
  text-decoration: underline;
}
.contacts h2 {
  margin-bottom: 45px;
}
.contacts p {
  font-size: 22px;
  line-height: 0;
  white-space: nowrap;
}
.contacts span {
  color: #808080;
  font-size: 12px;
  line-height: 0;
}
.breadcrumbs ul {
  list-style-type: none;
  color: #b0b0b0;
  padding-left: 0;
  margin-left: 0;
}
.breadcrumbs ul li {
  display: inline-block;
  font-size: 14px;
}
.breadcrumbs ul li:first-child:before {
  content: '';
}
.breadcrumbs ul li:before {
  content: '―';
  color: #b0b0b0;
  padding-left: 4px;
  padding-right: 8px;
}
.breadcrumbs ul li a {
  color: #b0b0b0;
}
.breadcrumbs ul li a:hover,
.breadcrumbs ul li a:focus {
  text-decoration: none;
}
.product {
  position: relative;
}
.product-wrapper {
  padding: 90px 0 0;
  position: relative;
}
.product-wrapper .fotorama-wrapper {
  padding-top: 45px;
}
.product-wrapper .fotorama-wrapper .fotorama__nav-wrap {
  margin-top: 20px;
}
.product-wrapper .fotorama-wrapper .fotorama__thumb-border {
  border-color: #0e8035;
}
.product-wrapper .fotorama-wrapper .fotorama__thumb {
  border: 1px solid #e2e3e4;
}
.product-wrapper .fotorama-wrapper .fotorama__arr--prev {
  left: -5px;
  background: url("../img/icons/arrow-slide-left.svg") no-repeat center;
}
.product-wrapper .fotorama-wrapper .fotorama__arr--next {
  right: -5px;
  background: url("../img/icons/arrow-slide-right.svg") no-repeat center;
}
.product-wrapper .product-border {
  padding-bottom: 50px;
  border-bottom: 2px solid #cbcccd;
}
.product-wrapper .product-info .product-categories {
  font-size: 20px;
  color: #333333;
}
.product-wrapper .product-info .product-categories a {
  color: #000;
}
.product-wrapper .product-info .label-danger {
  position: absolute;
  right: 7%;
  top: -10px;
}
.product-wrapper .product-info h2 {
  margin-top: 5px;
  margin-bottom: 0;
  padding: 0;
}
.product-wrapper .product-info .article {
  color: #808080;
}
.product-wrapper .product-info p {
  padding-top: 21px;
  padding-bottom: 21px;
  color: #808080;
}
.product-wrapper .product-info .price {
  margin-top: -5px;
  margin-bottom: 15px;
}
.product-wrapper .product-info .price .old-price {
  font-size: 30px;
  margin-right: 15px;
}
.product-wrapper .product-info .price .old-price:after {
  top: 22px;
}
.product-wrapper .product-info .price .new-price {
  font-size: 48px;
}
.product-wrapper .product-info .spoiler {
  margin-top: 28px;
  border-bottom: 2px solid #cbcccd;
}
.product-wrapper .product-info .status {
  list-style-type: none;
  margin: 0 0 28px;
  padding: 0;
}
.product-wrapper .product-info .status li span {
  padding-right: 15px;
  font-size: 27px;
  vertical-align: sub;
}
.product-wrapper .product-info .status li.success {
  color: #0e8035;
}
.categories {
  padding: 55px 0;
}
.categories h2 {
  padding-bottom: 0;
  margin-top: 20px;
}
.categories .sidebar .btn {
  margin: 35px 0;
}
.categories .sidebar .cost .noUi-horizontal {
  height: 8px;
}
.categories .sidebar .cost .noUi-horizontal .noUi-connect {
  background: #0e8035;
}
.categories .sidebar .cost .noUi-horizontal .noUi-handle {
  background: #0e8035;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 19px;
  height: 19px;
  border: 3px solid #fff;
}
.categories .sidebar .cost .noUi-horizontal .noUi-handle:after,
.categories .sidebar .cost .noUi-horizontal .noUi-handle:before {
  display: none;
}
.categories .sidebar .color .spoiler-body span {
  height: 18px;
  width: 18px;
  margin: 5px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.categories .sidebar .color .spoiler-body .color-1 {
  background-color: #dd2f4e;
}
.categories .sidebar .color .spoiler-body .color-2 {
  background-color: #dbaaae;
}
.categories .sidebar .color .spoiler-body .color-3 {
  background-color: #5b6aa1;
}
.categories .sidebar .color .spoiler-body .color-4 {
  background-color: #27b0cb;
}
.categories .sidebar .color .spoiler-body .color-5 {
  background-color: #009c80;
}
.categories .sidebar .color .spoiler-body .color-6 {
  background-color: #ffd000;
}
.categories .sidebar .color .spoiler-body .color-7 {
  background-color: #e16522;
}
.categories .sidebar .color .spoiler-body .color-8 {
  background-color: #00704c;
}
.categories .sidebar .color .spoiler-body .color-9 {
  background-color: #0073a1;
}
.categories .sidebar .color .spoiler-body .color-10 {
  background-color: #a1c24a;
}
.categories .sidebar .color .spoiler-body .color-11 {
  background-color: #800018;
}
.categories .sidebar .color .spoiler-body .color-12 {
  background-color: #bed2e5;
}
.categories .sidebar .color .spoiler-body .color-13 {
  background-color: #5f316d;
}
.categories .sidebar .color .spoiler-body .color-14 {
  background-color: #c73c85;
}
.categories .sidebar .color .spoiler-body .color-15 {
  background-color: #003c12;
}
.categories .sidebar .color .spoiler-body .color-16 {
  background-color: #801b6b;
}
.categories .sidebar .form-group {
  display: block;
  position: relative;
}
.categories .sidebar .form-group input {
  left: 0;
  width: 100%;
}
.categories .main-content {
  padding-left: 20px;
}
.categories .main-content .breadcrumbs {
  margin-left: -10px;
}
.categories .main-content .breadcrumbs ul {
  padding-left: 0;
}
.categories .main-content .help {
  margin-top: -30px;
}
.categories .main-content .help .help-wrapper {
  width: 100%;
}
.categories .main-content .help .help-wrapper .img-help {
  left: -100px;
}
.categories .main-content .help .help-wrapper p {
  margin-top: 23px;
  line-height: 1;
  text-align: left;
}
.categories .main-content .help .help-wrapper .btn {
  vertical-align: 10px;
}
.categories .main-content .content {
  padding: 38px 0;
}
.categories .main-content .content p {
  font-size: 12px;
}
.shop-items-wrapper {
  padding-top: 0;
}
.shop-items-wrapper {
  /*padding: 55px 0 37px;*/
  text-align: center;
}
.shop-items-wrapper .btn {
  margin: 45px 0;
}
.shop-items-wrapper .slick-flowers {
  width: 88%;
  margin: 0 auto;
}
.shop-items {
  padding-bottom: 10px;
}
.shop-items .fl-item {
  width: 30.5555555555%;
  height: 380px;
  margin: 0 5px;
}
.shop-items .fl-item:before {
  top: 265px;
}
.shop-items .fl-item img {
  height: auto;
  padding-bottom: 30px;
}
.shop-items .fl-item .product-thumbnail {
  height: 230px;
  width: 100%;
  background: no-repeat 50% 50%;
  background-size: contain;
  margin-bottom: 30px;
}
.paging-navigation {
  display: block;
  clear: both;
}
.related-products.shop-items .fl-item,
.search-products.shop-items .fl-item,
.shop-items.shop-items-row-4 .fl-item {
  width: 23.1111111%;
  display: inline-block;
  height: 440px;
  vertical-align: top;
}
.related-products.shop-items .fl-item.main,
.search-products.shop-items .fl-item.main,
.shop-items.shop-items-row-4 .fl-item.main {
  width: 26%;
  float: inherit;
}
.cart {
  padding: 55px 0;
}
.cart .next {
  text-align: center;
  margin-top: 45px;
}
.cart .total {
  margin-top: 45px;
}
.cart .total .total-item {
  position: relative;
  display: block;
  width: 100%;
  border-bottom: 2px solid #cbcccd;
  padding: 15px 0;
}
.cart .total .total-item .woocommerce-remove-coupon {
  position: absolute;
  font-size: 12px;
  left: 0;
  top: 38px;
}
.cart .total .total-item .info {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.cart .total .total-item span {
  display: inline-block;
  float: right;
  font-size: 26px;
}
.cart .total .total-item span.active {
  color: #0e8035;
}
.cart .total-sale {
  padding-top: 25px;
}
.cart .total-sale .sale-info {
  display: inline-block;
  width: 60%;
  padding-left: 10px;
}
.cart .total-sale .sale-info p {
  margin-bottom: -10px;
}
.cart .total-sale .big-sale {
  color: #0e8035;
  font-size: 100px;
  display: inline-block;
  font-family: "Lora", Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}
.cart .total-sale p {
  font-size: 60px;
  display: inline-block;
  font-family: "Lora", Georgia, "Times New Roman", Times, serif;
  color: #0e8035;
}
.cart .total-sale span {
  display: inline-block;
  font-size: 12px;
}
.cart .cart-item {
  height: 210px;
  border-bottom: 2px solid #cbcccd;
  padding: 15px 0;
}
.cart .cart-item:last-child {
  border: none;
}
.cart .cart-item img {
  display: inline-block;
  float: left;
  max-height: 160px;
  margin-right: 40px;
}
.cart .cart-item .woocommerce-Price-amount {
  min-width: 100px;
  display: block;
  text-align: right;
}
.cart .cart-item p {
  font-size: 26px;
  color: #000000;
  line-height: 15px;
  padding-top: 75px;
}
.cart .cart-item .price {
  float: right;
  margin-top: -60px;
}
.cart .cart-item .price .count {
  font-size: 20px;
  color: #333333;
  text-align: center;
  margin-right: 50px;
  float: left;
}
.cart .cart-item .price .count input {
  width: 40px;
  height: 38px;
  padding: 11px 6px;
}
.cart .cart-item .price .count span {
  color: #333333;
  padding-top: 5px;
  display: inline-block;
}
.cart .cart-item .price p {
  padding-top: 12px;
  display: inline-block;
  font-weight: bold;
}
.cart .cart-item .price a {
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  margin-top: -9px;
  margin-left: 25px;
}
.cart .cart-item .price a:hover,
.cart .cart-item .price afocus {
  text-decoration: none;
}
.cart .cart-item .price a span {
  font-size: 10px;
  color: #000;
  font-weight: bold;
}
.cart .steps {
  text-align: center;
  position: relative;
  padding-bottom: 30px;
}
.cart .steps:after {
  content: '';
  position: absolute;
  width: 75%;
  height: 2px;
  background-color: #0e8035;
  display: inline-block;
  left: 65px;
  bottom: 100px;
  z-index: 2;
}
.cart .steps .step {
  display: inline-block;
}
.cart .steps .step:hover,
.cart .steps .step:focus {
  text-decoration: none;
}
.cart .steps .step.active div {
  background: #0e8035;
}
.cart .steps .step.active div p {
  color: #ffffff;
}
.cart .steps .step span {
  color: #333333;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.cart .steps .step div {
  width: 72px;
  height: 72px;
  border: 2px solid #0e8035;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto 15px;
  z-index: 3;
  position: relative;
  background-color: #ffffff;
}
.cart .steps .step div p {
  font-size: 35px;
  font-family: "Lora", Georgia, "Times New Roman", Times, serif;
  color: #000;
  padding-top: 9px;
  font-weight: bold;
}
.price ins {
  text-decoration: none;
}
.product-info ins .woocommerce-Price-amount,
.product-info .woocommerce-Price-amount {
  color: #b71c24;
  font-weight: bold;
  font-size: 48px;
  vertical-align: sub;
}
.product-info del .woocommerce-Price-amount {
  color: #808080;
  font-size: 30px;
  margin-right: 15px;
  position: relative;
}
.fl-item .onsale {
  background-color: #b71c24;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 13px;
  font-weight: bold;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  letter-spacing: 3px;
  font-size: 12px;
  position: absolute;
  top: 5px;
  right: 6%;
}
.woocommerce-result-count {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 14px;
}
.woocommerce-ordering {
  position: absolute !important;
  top: 25px;
  right: 15px;
}
.product-info .flora-product-title {
  margin-bottom: 21px !important;
}
.product-info .flora-product-article {
  margin-top: -21px !important;
  margin-bottom: 21px !important;
}
#wpadminbar {
  z-index: 99;
  transform: translate3d(0, 0, 0);
  background: black;
  width: 100%;
}
form.cart {
  margin: 20px 0;
  padding: 0 !important;
}
form.cart .quantity {
  display: none;
}
form.cart .single_add_to_cart_button {
  color: #fff;
  background-color: #00622a;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid #00622a;
  white-space: nowrap;
  padding: 16px 46px;
  font-size: 16px;
  line-height: 1.42857143;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  outline: 0;
  text-decoration: none;
}
.flora-count-control {
  padding: 0 !important;
  margin: 0 !important;
}
.flora-cart-item-count-control {
  display: none;
  position: absolute;
  text-align: center;
  font-size: 26px;
  line-height: 1em;
  font-weight: 300;
  border: 2px solid #bcbcbc;
  padding: 23px 12px;
  margin-top: -24px;
  margin-right: 0;
  z-index: 10;
  white-space: nowrap;
  background: #ffffff;
  right: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.flora-cart-item-count-control.active {
  display: block;
}
.flora-cart-item-count-control .flora-count-control-price {
  display: inline-block !important;
  margin-right: 10px;
  z-index: 20;
}
.flora-cart-item-count-control .flora-count-control-multiply {
  display: inline-block !important;
  width: 26px;
  text-align: center;
  margin-right: 10px !important;
}
.flora-cart-item-count-control .flora-count-control-equal {
  display: inline-block;
  margin-right: 100px;
}
.flora-cart-item-count-control .flora-count-control-decrease {
  display: inline-block !important;
  width: 26px;
  text-align: center;
  margin-right: 50px !important;
  cursor: pointer;
}
.flora-cart-item-count-control .flora-count-control-increase {
  display: inline-block !important;
  width: 26px;
  text-align: center;
  margin-right: 15px !important;
  cursor: pointer;
}
.cart-item {
  position: relative;
}
.cart-item .flora-cart-item-count {
  position: absolute;
  z-index: 30 !important;
  right: 190px !important;
  top: 56px;
}
.cart-item .woocommerce-Price-amount {
  min-width: 0 !important;
  width: auto !important;
  padding: 0 !important;
  text-align: right;
}
.cart-item .flora-cart-product-price-buttons {
  position: relative;
  margin-top: 20px;
  margin-bottom: -11px;
  height: 38px;
}
.cart-item .js-cart-product-price-save {
  border: 2px solid #00622a !important;
  font-size: 12px !important;
  text-transform: uppercase;
  text-align: center;
  width: 163px !important;
  position: absolute;
  left: 0;
  line-height: 14px;
}
.cart-item .js-cart-product-price-cancel {
  border: 2px solid #00622a !important;
  font-size: 12px !important;
  text-transform: uppercase;
  text-align: center;
  width: 163px !important;
  position: absolute;
  right: 0;
  line-height: 14px;
}
.flora-count-control-total .woocommerce-Price-amount {
  min-width: 100px !important;
}
.messages-panel {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 99999;
}
.woocommerce {
  max-width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.woocommerce .cart-empty {
  margin-top: 40px;
  font-size: 35px;
  font-weight: 800;
  font-family: "Lora", Georgia, "Times New Roman", Times, serif;
  padding-bottom: 0;
}
.woocommerce .return-to-shop {
  margin-bottom: 40px;
}
.form-part {
  overflow: hidden;
}
.form-part .form-part-left {
  float: left;
  width: 212px;
}
.form-part .form-part-right {
  overflow: hidden;
  margin-left: 243px;
}
.form-part .btn-group {
  border: 2px solid #cbcccd;
}
.form-part .btn-group .btn-default {
  border: none;
  font-size: 26px;
  padding: 8px 7px 7px 7px;
  box-shadow: none !important;
}
.form-part .btn-group .btn-default.active {
  background: #dcb80a;
  outline: none !important;
}
.btn-shipping-method input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.form-part-checkout-width {
  max-width: 520px;
}
.form-part-input-group {
  margin-bottom: 16px;
}
.flora-checkout-fields .form-control {
  border: 2px solid #cbcccd;
  box-shadow: none;
  border-radius: 0;
  padding: 16px 16px;
  font-size: 26px;
}
.flora-checkout-fields select.form-control {
  padding: 0 16px !important;
}
.checkout-label {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 4px;
  font-weight: 400;
  margin-top: 15px;
}
.flora-checkbox {
  position: relative;
  margin-top: 5px;
}
.flora-checkbox label {
  display: inline-block;
  font-weight: 400 !important;
  vertical-align: top;
  font-size: 16px;
  line-height: 1.2;
  margin-left: -40px;
  padding-left: 40px;
  z-index: 10;
  position: relative;
  margin-top: 4px;
}
.flora-checkbox i {
  display: inline-block;
  box-sizing: border-box;
  width: 23px;
  height: 23px;
  border: 2px solid #CBCCCD;
  position: relative;
  transition: .2s;
  padding-left: 0;
  margin-right: 10px;
  margin-top: 2px;
  vertical-align: top;
}
.flora-checkbox i:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background: url(../img/icons/icomoon/check.svg) center center no-repeat;
  background-size: contain;
  transform: scale(0);
  transition: .2s;
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: top;
}
.flora-checkbox input[type="checkbox"] {
  opacity: 0;
  display: none;
}
.flora-checkbox input[type="checkbox"]:checked + i {
  background: #0e8035;
  border-color: #0e8035;
}
.flora-checkbox input[type="checkbox"]:checked + i:after {
  transform: scale(1.5);
}
.flora-shipping-buttons .btn {
  white-space: normal;
  font-size: 14px !important;
  text-align: left;
}
.flora-shipping-buttons .woocommerce-Price-amount {
  font-weight: 800;
}
.contacts-address-preview {
  display: inline-block;
  width: 142px;
  height: 142px;
  background-size: cover;
  background-position: center center;
  margin: 0 0 10px 0;
}
.woocommerce-variation-description p {
  margin: 0;
  color: #000000 !important;
  font-size: 18px;
  padding-bottom: 0 !important;
}
.woocommerce-variation-price {
  margin-bottom: 30px;
}
table.variations label {
  color: #000000;
  font-weight: 800;
}
table.variations .reset_variations {
  display: none;
}
#loginForm .modal-body {
  padding-bottom: 10px;
}
.flora-checkout-shipping #shipping_address_1[readonly] {
  background: #00622a;
  color: #ffffff;
  cursor: pointer;
  border: #00622a;
}
.teaser-col-left {
  float: none !important;
  width: auto !important;
  margin-right: 297px !important;
}
.teaser-col-right {
  float: right;
  width: 297px !important;
}
.mobile-nav {
  display: none;
}
.mobile-nav .mobile-nav-top {
  background: #00622a;
  height: 45px;
}
.mobile-nav .mobile-nav-top .dropdown ul {
  padding: 8px 0;
  z-index: 991;
  top: 43px;
  right: 0;
  left: initial;
}
.mobile-nav .mobile-nav-top .dropdown ul li a {
  font-size: 15px;
  padding: 3px 18px;
}
.mobile-nav .mobile-nav-top .logo {
  float: left;
}
.mobile-nav .mobile-nav-top .logo img {
  width: 145px;
  padding-top: 4px;
  padding-left: 15px;
}
.mobile-nav .mobile-nav-top .menu-icon {
  float: right;
  padding-right: 15px;
  padding-top: 7px;
}
.mobile-nav .mobile-nav-top .menu-icon img {
  width: 30px;
}
.mobile-nav .mobile-nav-bottom {
  background: #0e8035;
  height: 30px;
}
.mobile-nav .mobile-nav-bottom .addr {
  float: right;
  padding-right: 15px;
  padding-top: 3px;
}
.mobile-nav .mobile-nav-bottom .addr .nav {
  padding: 0;
  margin: 0;
}
.mobile-nav .mobile-nav-bottom .addr .nav .dropdown.open ul {
  position: absolute;
  margin-left: -31px;
  background: #0e8035;
}
.mobile-nav .mobile-nav-bottom .addr .nav .dropdown.open ul li a:not(.btn) {
  padding: 2px 15px;
  background: transparent;
  font-size: 12px;
}
.mobile-nav .mobile-nav-bottom .addr .nav .dropdown.open ul .btn {
  padding: 5px 0;
  margin-bottom: 5px;
}
.mobile-nav .mobile-nav-bottom .addr .nav a {
  padding: 0;
  color: #ffffff;
  font-size: 13px;
}
.mobile-nav .mobile-nav-bottom .addr .nav a:hover,
.mobile-nav .mobile-nav-bottom .addr .nav a:focus {
  background: transparent;
}
.mobile-nav .mobile-nav-bottom .header-phone {
  display: inline-block;
  color: #fff;
  padding-left: 15px;
  padding-top: 4px;
}
.mobile-nav .mobile-nav-bottom .header-phone p {
  margin: 0;
  padding: 0;
}
@media (max-width: 660px) {
  .advantages .row:last-child p {
    padding-top: 30px;
  }
  .advantages .row:last-child p:before {
    top: 19px;
  }
  .advantages .row:last-child .col-xs-2 {
    width: 50%;
    margin: 10px 0;
  }
  .service {
    background: none;
  }
  .service h2 {
    text-align: center;
  }
  .service .col-xs-7 {
    margin: 0;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .mobile-nav {
    display: block;
  }
  .secondary-nav {
    display: none;
  }
  .description {
    width: 100%!important;
    margin: 0!important;
    padding-top: 10px!important;
  }
  .reviews .reviews-item .review-wrapper .review-photo {
    float: none;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    padding: 0;
    width: 100%;
  }
  .reviews .reviews-item .review-wrapper .review-photo img {
    display: inline-block;
  }
  .slick-arrow.slick-prev {
    left: -35px;
  }
  .slick-arrow.slick-next {
    right: -35px;
  }
  .about img {
    width: 100%;
  }
  .content .working-hours p span {
    font-size: 66px;
  }
}
@media (max-width: 480px) {
  .delivery-h2 {
    padding-bottom: 0 !important;
  }
  .content .working-hours p span {
    font-size: 49px;
  }
  .footer:before {
    display: none;
  }
  .footer-bottom {
    padding-top: 0!important;
  }
  .footer-bottom .copyright {
    width: 100%;
    text-align: left;
  }
  .footer-bottom .social {
    float: left;
  }
  .footer-bottom .development {
    margin-top: -18px !important;
  }
  .footer-top {
    padding-bottom: 10px!important;
  }
  .footer-top .col-xs-4 {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
  .footer-top .col-xs-4 ul {
    margin-top: 0;
  }
}
@media (max-width: 400px) {
  .details br {
    display: none!important;
  }
  .details {
    padding: 0!important;
  }
  .phone {
    display: block;
  }
  .content .phone {
    font-size: 20px;
  }
  .content .working-hours p {
    font-size: 45px;
  }
  .content .working-hours p span {
    font-size: 38px;
  }
  h2 {
    font-size: 29px!important;
  }
  .teasers .slick .slick-caption a {
    font-size: 15px;
    padding: 6px 14px;
  }
  .slick-arrow.slick-prev {
    left: -25px;
  }
  .slick-arrow.slick-next {
    right: -25px;
  }
}
@media (max-width: 360px) {
  .teasers .slick-dots {
    padding-left: 15px;
  }
  .teasers .slick .slick-caption {
    margin-left: 15px;
  }
  .teasers .slick .slick-caption p {
    font-size: 24px;
  }
  .about-bottom a {
    padding: 16px 35px;
  }
}
@media (max-width: 330px) {
  .content .btn + p {
    text-align: left;
  }
  .content .btn {
    width: 100%;
  }
  .footer-bottom .development {
    margin-top: -47px !important;
  }
  .teasers .slick .slick-dots li button {
    margin: 0;
  }
  .slick-arrow.slick-next {
    right: -10px;
  }
}
